.barchart_ctr, .table_ctr, .pie_ctr {
    border: 1px solid black;
    margin: 20px 150px;
    padding: 5px;
}
table {
    align-items: center;

}
thead {
    background-color: black;
    color: white;
    
}

td {
    padding: 0px 10px;
}